<%= form_tag compares_compare_path do %>
    <!-- どっち安アプリ -->
    <div id="main" class="container-fluid">
        <% if @star == "same" %>
        <div class="row" style="background:url('同じ.png');background-repeat:no-repeat;background-size:30%;">
        <% else %>
        <div class="row">
        <% end %>
            <div id="left" class="col-xs-6">
                <div class="l-panel-group">
                    <div class="form-group">
                        <label for="left-price"><%= @lblPrice %></label>
                        <input name="leftPrice" type="text" maxlength="20" class="form-control" value="<%= @leftPrice %>">
                    </div>
                    <div class="form-group">
                        <label for="left-capacity"><%= @lblCapacity %></label>
                        <input name="leftCapacity" type="text" maxlength="5" class="form-control" value="<%= @leftCapacity %>">
                    </div>
                    <div class="form-group">
                        <label for="left-number"><%= @lblNumber %></label>
                        <span class="glyphicon glyphicon-question-sign" data-toggle="popover" title="個数とは" data-content="個数が１個の場合は省略可能です。"></span>
                        <input name="leftNumber" type="text" maxlength="5" class="form-control" aria-describedby="left-help-block" value="<%= @leftNumber %>">
                    </div>
                    <button id="clear-left" type="button" class="btn btn-success btn-lg btn-block"><%= @btnClear %></button>
                </div>
            </div>
            <div id="right" class="col-xs-6">
                <div class="l-panel-group">
                    <div class="form-group">
                        <label for="right-price"><%= @lblPrice %></label>
                        <input name="rightPrice" type="text" maxlength="20" class="form-control" value="<%= @rightPrice %>"> 
                    </div>
                    <div class="form-group">
                        <label for="right-capacity"><%= @lblCapacity %></label>
                        <input name="rightCapacity" type="text" maxlength="5" class="form-control" value="<%= @rightCapacity %>">
                    </div>
                    <div class="form-group">
                        <label for="right-number"><%= @lblNumber %></label>
                        <span class="glyphicon glyphicon-question-sign" data-toggle="popover" title="個数とは" data-content="個数が１個の場合は省略可能です。"></span>
                        <input name="rightNumber" type="text" maxlength="5" class="form-control" aria-describedby="right-help-block" value="<%= @rightNumber %>">
                    </div>
                    <button id="clear-left" type="button" class="btn btn-success btn-lg btn-block"><%= @btnClear %></button>
                </div>
            </div>
        </div>
        <% if @is_left or @is_right %>
            <div class="row" style="margin-top: 30px; margin-bottom: 20px;text-align:center">
                <div class="col-xs-6">
                    <p class="crown">
                        <% if @is_left == true %>
                            <%= image_tag("王冠.png") %>
                        <% end %>
                        1容量あたり<%= @leftPerCapacity %>円
                    </p>
                </div>
                <div  class="col-xs-6">
                    <p class="crown">
                        <% if @is_right == true %>
                            <%= image_tag("王冠.png") %>
                        <% end %>
                        1容量あたり<%= @rightPerCapacity %>円
                    </p>
                </div>
            </div>
        <% else %>
            <div class="row" style="margin-top: 30px; margin-bottom: 20px;text-align:center">
                <div class="col-xs-12 same">
                    <%= image_tag("same.png") %>
                </div>
            </div>
        <% end %>
        <div class="row l-footer">
            <div class="col-xs-3">
            </div>
            <div class="col-xs-6">
                <button type="submit" class="btn btn-success btn-lg btn-block"><%= @btnCompare %></button>
            </div>
            <div class="col-xs-3">
            </div>
        </div>
    </div>
<% end %>
